*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    background-color: gray;
    padding: 15px 0px;
    position: relative;
}

.left-nav h1{
    color: red;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.right-nav {
    background-color: tomato;
    max-width: 20rem;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 45px;
    display: none;
}

.right-nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.back-to-main{
    border: 2px solid white;
    padding: 10px 15px;
    font-size: 12px;
    color: white;
}


.right-nav a i{
    color: white;
    font-size: 40px;
}

.nav-bar i{
    color: red;
    font-size: 50px;
}
            

/* <!-- -----------------------------------------------Hero Item------------------------------------------------------------------- --> */

.com-container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.hero-item{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.hero-item .left{
    order: 2;
    flex: 1;

    margin-top: -4px;
}

.left .left-content{
    background-color: aqua;
    padding: 30px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.left .left-content .line{
    background-color: black;
    height: 5px;
    width: 50px;
    margin: auto;
}

.left .left-content h1{
    font-size: 35px;
        color: blue;
}

.left .left-content button{
    border: 2px solid black;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 12px;
}

.hero-item .right{
    order: 1;
    flex: 1;

}

.hero-item .right img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}


/* <!-- -----------------------------------------------About Me------------------------------------------------------------------- --> */

.about-container{
    background-image: url(pexels-seymasavascioglu-11532240.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 90%;
    height: 450px;
    margin: auto;

    margin-top: 7px;
    text-align: center;
}

.about-content{
    padding: 30px 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-content h1{
    font-size: 35px;
    font-weight: bold;
}

.about-content p{
    padding: 0px 50px;
    display: block;
    max-width: 600px;
    min-width: 600px;
    margin: auto;
}

.about-me .line-about{
    background-color: black;
    height: 5px;
    width: 50px;
    margin: auto;
}


/* <!-- -----------------------------------------------Resume------------------------------------------------------------------- --> */

.resume-sect{
    background-color: burlywood;
    width: 90%;
    margin: auto;
    height: 200px;
    margin-top: 7px;
}


.resume-sect .resume{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.resume h1{
    font-size: 35px;
    font-weight: bold;
}

.resume .resume-line{
    background-color: black;
    height: 5px;
    width: 50px;
}

/* <!-- ----------------------------------------------- Education & Experience ------------------------------------------------------------------- --> */


.education-experience{
    width: 90%;
    margin: auto;
    margin-top: 7px;
}


.edu-exp-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.edu-exp-container h3{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

.edu-exp-container p{
    font-size: 15px;
    padding: 0px 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    text-align: center;
}

.edu-exp-container .left-education{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 49.5%;
    padding: 0px 20px 40px 20px;
}


.education i{
    padding: 50px;
    font-size: 50px;
}


.education h1{
    font-size: 35px;
    font-weight: bold;
}

.edu-exp-container .right-experience{
    background-color: green;
    width: 49.5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 20px 40px 20px;
}



.experience i{
    padding: 50px;
    font-size: 50px;
}

.experience h1{
    font-size: 35px;
    font-weight: bold;
}

/* <!-- ----------------------------------------------- Pricing ------------------------------------------------------------------- --> */

.pricing{
    width: 90%;
    margin: auto;
    margin-top: 7px;
    height: 300px;
}

.price-container{
    background-color: brown;
    padding: 30px 40px;
}

.pricing .price-cont{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.price-cont h1{
    font-size: 35px;
    font-weight: bold;
}

.price-cont .price-line{
    background-color: black;
    height: 5px;
    width: 50px;
}

.price-container .all{
    display: flex;
    gap: 80px;
    padding: 70px 10px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.all .left-price, .all .middle-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.all .right-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.all .all-b{
    font-size: 50px;
}

.all button{
    border: 2px solid black;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 15px;
}


@media screen and (min-width: 991px) {

.right-nav{
    background-color: transparent;
    max-width: 100%;
    height: fit-content;

    position: static;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.right-nav a i{
    display: none;
}

.nav-bar{
    display: none;
}

.right-nav ul{
    flex-direction: row;
    gap: 30px;
} 



/* <!-- -----------------------------------------------Hero Item------------------------------------------------------------------- --> */

.hero-item{
    flex-direction: row;
    gap: 10px;
}

.hero-item .right{
    order: 2;
    flex: 70%;
}

.hero-item .right img{
    height: 350px;
}

.hero-item .left{
    order: 1;
    background-color: aquamarine;
    height: 350px;
    flex: 30%;

    margin-top: 0px;
}

.left .left-content{
    background-color: transparent;
}


/* <!-- ----------------------------------------------- Education & Experience ------------------------------------------------------------------- --> */

.education-experience .edu-exp-container{
    height: 67vh;
}

.edu-exp-container .left-education{
    width: 49.9%;
    padding: 0px 10px;

}


    
}