body{
    background-color: rgb(233, 231, 231);
    padding: 50px;
    justify-content: center;
    display: flex;
    
}

.form h3{
    text-align: center;
}

.form{
    height: 310px;
    width: 180px;
    border: 1px solid rgb(237, 236, 236);
    box-shadow: 0.5px 0.7px 0.5px;
    margin: auto;
    padding-left: 15px;
    border-radius: 3px;
    background-color: white;
}

.form input{
    border-radius: 3px;
    border: 1px solid #cccccc;
    outline: none;
    
}

.form button{
    background-color: #28a745;
    color: white;
    width: 170px;
    height: 20px;
    border: none;
    border-radius: 3px;
}