*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    background-color: rgb(65, 69, 76);
    color: white;
    ;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

header .row .col-12{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header h1{
    background-color: rgb(61, 79, 235);
    text-align: center;

}

header p{
    background-color: rgb(231, 139, 41);
    text-align: center;
    padding: 10px 0px;
}

main .container{
    width: 100%;
    display: flex;

}


main .container .row{
       
}

.left-content{
       background-color: orange;
       height: 300px;
       width: 50%;
}

.middle-content{
        background-color: rgb(255, 106, 0);
        height: 300px;
}

.right-content{
    background-color: orange;
    height: 300px;
}

footer .row .col-12{
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 10px;
}